{% extends "layout.html" %}
{% block content %}
  <h1>Kha'Zix</h1>
  <h2>the Voidreaver</h2>
  <h3>Class: <a href="/classes/slayers">Slayer</a></h3>
  <h4>Subclass: <a href="/classes/assassins">Assassin</a></h4>
  <h5>Role: <a href="/roles/jg">Jungle</a></h5>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Khazix_0.jpg">
    </div>
    <div class="col-md-6">
      <p>A vicious Void predator, Kha'Zix infiltrated Valoran to devour the land's most promising creatures. With each
        kill he absorbs his prey's strength, evolving to grow more powerful. Kha'Zix hungers most to conquer and consume
        Rengar, the one beast he considers his equal.<br><br>When Kha'Zix crossed over into this world, he was fragile
        and ravenous. The animals he first encountered were too small to fuel the rapid evolution he craved. Kha'Zix
        focused his hunger on the most dangerous creatures he could find, risking his life to satisfy his need. With
        each kill he feasted and changed, becoming a stronger, faster predator. Kha'Zix soon chased his prey with
        unrestrained aggression, believing he was unstoppable. One day, while savoring a fresh kill, the predator became
        the prey. From cover a creature pounced in a blur of fangs and steel, tackling him to the ground. It roared in
        his face slashing and clawing, and Kha'Zix felt his blood spill for the first time. Screeching in fury, he
        sliced at the brute's eye driving it back. They fought from sunset to sunrise. Finally, near death, they
        reluctantly separated. As his wounds closed, Kha'Zix burned with anticipation at the idea of devouring one who
        could match the Void's strength. He resumed his search for powerful prey with renewed vigor. Someday, Kha'Zix
        will feast on Rengar.<br><br>''Kill. Consume. Adapt.''<br>-- Kha'Zix</p>
    </div>
  </div>
{% endblock %}
