{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <p>This is a project for CS 373. The site is in construction! Please visit us later.</p>

    <h1>Purpose</h1>
    <p>
      This is a site to collect league of legends information, find out interesting things about champions, and make
      connections in the game.
    </p>

    <h1>Information</h1>
    <p>
      This site was made by
      <bold>pminus1</bold>
      :<br>
    <ul>
      <li>
        Avilash Rath
      </li>
      <li>
        Ben Yang
      </li>
      <li>
        Robert Todd Schriber
      </li>
      <li>
        Kasra Sadeghi
      </li>
    </ul>
    </p>

    <p>Find our github project <a href="https://github.com/kasrasadeghi/idb">here</a>.</p>

    <p><a href="http://docs.leaguedbapi.apiary.io/">League DB Apiary API</a></p>
    <p><a href="https://trello.com/b/6BIgkiSa/leaguedb-general">Trello</a></p>
    <p><a href="https://utexas.box.com/s/mfc74ddnel1y6ofwr2s6qw7bazcrr379">Report</a></p>
  </div>
{% endblock %}
