{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <p>This is a project for CS 373. The site is in construction! Please visit us later.</p>

    <h1>Purpose</h1>
    <p>
      This site contains information about the game League of Legends. Interested parties can find information about playable champions, roles and classes of each champion, as well as recommended items for each champion or class.
    </p>
    <h1>Our Bronze 5 Staff</h1>
    <div class="row text-center">
      <div class="col-lg-6">
        <br />
        <img src="static/images/profile/Kasra.jpg">
        <br />
        <h2> Kasra </h2>
        <p>
          Kasra tell us a bit about yourself
          <br>
          Responsibilities:
          <br>
          Not killing himself
          <br>
          No. of Commits:
          <br>
          No. of Issues:
          <br>
          No. of Unit Tests:
          <br>
        </p>
      </div>
      <div class="col-lg-6">
        <br />
        <img src="static/images/profile/Ben.jpg">
        <br />
        <h2> Ben </h2>
        <p>
          Ben tell us a bit about yourself
          <br>
          Responsibilities:
          <br>
          Living in the Database
          <br>
          No. of Commits:
          <br>
          No. of Issues:
          <br>
          No. of Unit Tests:
          <br>
        </p>
      </div>
      <div class="col-lg-6">
        <br />
        <img src="static/images/profile/Todd.png">
        <br />
        <h2> Todd </h2>
        <p>
          Todd tell us a bit about yourself
          <br>
          Responsibilities:
          <br>
          Trying not to be useless
          <br>
          No. of Commits:
          <br>
          No. of Issues:
          <br>
          No. of Unit Tests:
          <br>
        </p>
      </div>
      <div class="col-lg-6">
        <br />
        <img src="static/images/profile/Avilash.jpg">
        <br />
        <h2> Avilash </h2>
        <p>
          Avilash tell us a bit about yourself
          <br>
          Responsibilities:
          <br>
          Taking his C++ class
          <br>
          No. of Commits:
          <br>
          No. of Issues:
          <br>
          No. of Unit Tests:
          <br>
        </p>
      </div>
    

    <div class="col-lg-4">
        <br />
        <h2> Statistics and Links </h2>
        <p>
          Number of commits: 330
          <br>
          Number of issues: 70
          <br>
          Number of unit tests: 45
          <br>
          Github Repository: <a href="https://github.com/kasrasadeghi/idb">Github</a>
          <br>
          Apiary API: <a href="http://docs.leaguedbapi.apiary.io/">League DB Apiary API</a>
          <br>
          Trello Issue Tracker: <a href="https://utexas.box.com/s/mfc74ddnel1y6ofwr2s6qw7bazcrr379">Trello</a>
        </p>
    </div>

    <div class="col-lg-4">
        <br />
        <h2> Source API </h2>
        <p>
          Official Riot Games API: <a href="https://developer.riotgames.com/">League of Legends</a>
          <br>
          API of the League of Legends Wiki: <a href="http://leagueoflegends.wikia.com/api/v1/">LoL Wiki</a>
          <br>
          Coming this Summer: How we scraped this stuff
        </p>
    </div>

    <div class="col-lg-4">
        <br />
        <h2> Tools </h2>
        <p>
          Flask
          <br>
          React
          <br>
          Bootstrap
          <br>
          and more!
        </p>
    </div>

    <div class="col-lg-12">
    <h2> Technical Report </h2>
    <p>
      Come back soon for a link!
    </p>
    </div>
  </div>
{% endblock %}