{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <h1>{{ champion.name }}</h1>
    <div class="modal-body row">
      <div class="col-md-6">
        <img src={{ champion.icon }} >
      </div>
      <div class="col-md-6">
        {{ champion.lore|safe }}
      </div>
    </div>
    <div class="col-lg-6">
      <h3>Items</h3>
        <ul>
        {% for thing in champion['items'] %}
          <li><a href="/items/{{ thing }}">{{ thing }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-lg-6">
      <h3>Classes</h3>
        <ul>
        {% for thing in champion['classes'] %}
          <li><a href="/classes/{{ thing }}">{{ thing }}</a></li>
        {% endfor %}
        </ul>
      <h3>Roles</h3>
        <ul>
        {% for thing in champion['roles'] %}
          <li><a href="/roles/{{ thing }}">{{ thing }}</a></li>
        {% endfor %}
        </ul>
    </div>
  </div>
{% endblock %}
