{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4" align="center">
        <a href="/champions/caitlyn">
          <figure>
            <figcaption>
              Caitlyn
            </figcaption>
            <img
            src="https://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/Caitlyn.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/champions/jax">
          <figure>
            <figcaption>
              Jax
            </figcaption>
            <img
            src="https://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/Jax.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/champions/khazix">
          <figure>
            <figcaption>
              Kha'zix
            </figcaption>
            <img
            src="https://ddragon.leagueoflegends.com/cdn/7.12.1/img/champion/Khazix.png">
          </figure>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
