{% extends "layout.html" %}
{% block content %}
  <img src={{ class_data.icon }}>
  <br>
  <h1>{{ class_data.name }}</h1>

  <p>{{ class_data.description|safe }}</p>
  <div class="col-lg-6">
	<h4>Champions:</h4>
	  <ul>
	    {% for champion in class_data['champions'] %}
	      <li>
	        <a href="/champions/{{ champion }}">{{ champion }}</a>
	      </li>
	    {% endfor %}
	  </ul>
  </div>
  <div class="col-lg-6">
  <h4>Items:</h4>
	  <ul>
	    {% for item in class_data['items'] %}
	      <li>
	        <a href="/items/{{ item }}">{{ item }}</a>
	      </li>
	    {% endfor %}
	  </ul>
  </div>
{% endblock%}
