{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4" align="center">
        <a href="/classes/assassins">
          <figure>
            <figcaption>
              Assassins
            </figcaption>
            <img src="http://habski.me/zlim/resources/images/icons/Assassin.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/classes/marksmen">
          <figure>
            <figcaption>
              Marksmen
            </figcaption>
            <img src="https://vignette4.wikia.nocookie.net/leagueoflegends/images/c/c9/ProfileIcon0660_Marksman.png/revision/latest?cb=20170220211520">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/classes/skirmishers">
          <figure>
            <figcaption>
              Skirmishers
            </figcaption>
            <img src="http://habski.me/zlim/resources/images/icons/Assassin.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/classes/slayers">
          <figure>
            <figcaption>
              Slayers
            </figcaption>
            <img src="http://habski.me/zlim/resources/images/icons/Assassin.png">
          </figure>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
