{% extends "layout.html" %}

{% block head %}
    <style>
    .navbar {margin-bottom: 0;}
    html {
        height:100%;
    }
    body {
        background-image:
          url("https://lolstatic-a.akamaihd.net/frontpage/apps/prod/artbook/en_US/f31d8b829b603b4b65fdff2475bd0803ced0179d/assets/content/summoners_rift/16_tenets/tenets_01.jpg");
        height:100%;
        overflow-y: hidden;
    }
    h1 {
        font-family: 'Arial';
        font-size: 80px;
        color: black;
        padding: 20px; 
        display: inline;
        border: 5px solid black;
        background: rgba(255, 255, 255, 0.5);
    }
    #content {
      height: 100%;
    }
    .name-content {
        position: absolute;
        width: 460px;
        margin-left: -230px;
        top: 30%;
        left: 50%;
    }
    </style>
{% endblock %}
{% block content %}
  <div class="name-content text-center"> 
    <h1>League DB</h1>
  </div>
{% endblock %}
