{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-responsive" src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/artbook/en_US/f31d8b829b603b4b65fdff2475bd0803ced0179d/assets/content/summoners_rift/16_tenets/tenets_01.jpg">
          <div class="carousel-caption">
            <h1>League DB</h1>
            <p> Find information about League of Legends. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
