{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4" align="center">
        <a href="/items/trinity_force">
          <figure>
            <figcaption>
              Trinity Force
            </figcaption>
            <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/item/3078.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/items/infinity_edge">
          <figure>
            <figcaption>
              Infinity Edge
            </figcaption>
            <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/item/3031.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/items/the_black_cleaver">
          <figure>
            <figcaption>
              The Black Cleaver
            </figcaption>
            <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/item/3071.png">
          </figure>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
