{% extends "layout.html" %}
{% block content %}
  <h1><img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/item/{{ item.icon }}">  {{ item.name }}</h1>

  <h4>Categories:</h4>
  <ul>
    {% for category in item.categories %}
      <li>
        {{ category }}
      </li>
    {% endfor %}
  </ul>

  <h4>Champions:</h4>
  <ul>
    {% for champion in item.champions %}
      <li>
        <a href="/champions/{{ champion }}"> - {{ champion }}</a>
      </li>
    {% endfor %}
  </ul>

  <h4>Roles:</h4>
  <ul>
    {% for role in item.roles %}
      <li>
        <a href="/roles/{{ role }}">{{ role }}</a>
      </li>
    {% endfor %}
  </ul>

  <h4>Classes:</h4>
  <ul>
    {% for class in item.classes %}
      <li>
        <a href="/classes/{{ class }}">{{ class }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock%}
