<!doctype html>
<html>
  <head>
    {% block head %}
    <title>LeagueDB</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
  </head>
  <body>

    <!-- Every page has the navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="champions">Champions</a></li>
            <li><a href="items">Items</a></li>
            <li><a href="regions">Regions</a></li>
            <li><a href="roles">Roles</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>

    <!-- Some scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>