{% extends "layout.html" %}
{% block content %}
  <h1>{{ role.name }}</h1>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="http://leaguedb.me/images/roles/{{ role.icon }}" >
    </div>
  </div>
  <div class="col-md-4">
    <h3>Champions</h3>
      <ul>
      {% for thing in role['champions'] %}
        <li><a href="/champions/{{ thing }}">{{ thing }}</a></li>
      {% endfor %}
      </ul>
  </div>
  <div class="col-md-4">
    <h3>Items</h3>
      <ul>
      {% for thing in role['items'] %}
        <li><a href="/items/{{ thing }}">{{ thing }}</a></li>
      {% endfor %}
      </ul>
  </div>
  <div class="col-md-4">
    <h3>Classes</h3>
      <ul>
      {% for thing in role['classes'] %}
        <li><a href="/classes/{{ thing }}">{{ thing }}</a></li>
      {% endfor %}
      </ul>
  </div>
{% endblock %}