{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4" align="center">
        <a href="/roles/bot">
          <figure>
            <figcaption>
              Bottom
            </figcaption>
            <img src="/static/images/bot.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/roles/top">
          <figure>
            <figcaption>
              Top
            </figcaption>
            <img src="/static/images/top.png">
          </figure>
        </a>
      </div>
      <div class="col-sm-4 centered" align="center">
        <a href="/roles/jg">
          <figure>
            <figcaption>
              Jungle
            </figcaption>
            <img src="/static/images/jg.png">
          </figure>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
