{% extends "layout.html" %}
{% block content %}
  <h1>Assassin</h1>
  <h2>Champions: <a href="/champions/khazix">Kha'zix</a></h2>
  <h3>Role: <a href="/roles/jungle">Jungle</a></h3>
  <div class="modal-body row">
    <div class="col-md-6">
      <img
          src="http://habski.me/zlim/resources/images/icons/Assassin.png">
    </div>
    <div class="col-md-6">
      <p>
        Assassins (Examples: Zed, Fizz) specialize in infiltrating enemy lines with their unrivaled mobility to quickly
        dispatch high-priority targets. Due to their mostly melee nature, Assassins must put them themselves into
        dangerous positions in order to execute their targets. Luckily, they often have defensive tricks up their
        sleeves that, if used cleverly, allow them to effectively avoid incoming damage.
      </p>
    </div>
  </div>
{% endblock %}
