{% extends "layout.html" %}
{% block content %}
  <h1>Marksmen</h1>
  <h2>Champions: <a href="/champions/caitlyn">Caitlyn</a></h2>
  <h3>Role: <a href="/roles/bot">Bot</a></h3>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="https://vignette4.wikia.nocookie.net/leagueoflegends/images/c/c9/ProfileIcon0660_Marksman.png/revision/latest?cb=20170220211520">
    </div>
    <div class="col-md-6">
      <p>Marksmen (Examples: Vayne, Ashe) are ranged champions whose power almost exclusively revolves around
        their basic attacks: using their reach to land massive continuous damage from a distance, marksmen are capable
        of taking down even the toughest of opponents when positioned behind the safety of their team, and excel at
        securing map objectives such as turrets, Dragon Dragon and Baron Nashor Baron Nashor. However, they are also
        tremendously vulnerable to burst damage due to their squishiness, and tend to be exceptionally weak early in the
        game, requiring high amounts of gold, mostly via minion kills (or CS: Creep Score) to acquire powerful, but
        expensive, damage-focused items. Due to their potent reach and DPS, marksmen are particularly strong against
        more durable opponents, namely fighters and tanks, but fall quickly to the burst damage of assassins and mages.
      </p>
    </div>
  </div>
{% endblock %}
