{% extends "layout.html" %}
{% block content %}
  <h1>Skirmisher</h1>
  <h2>Champions: <a href="/champions/jax">Jax</a> </h2>
  <h3>Role: <a href="/roles/top">Top</a></h3>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="http://habski.me/zlim/resources/images/icons/Assassin.png">
    </div>
    <div class="col-md-6">
      <p>
        Skirmishers (Examples: Yasuo, Fiora), unlike Assassins, aim to shred through any nearby enemy that
        approaches. Because Skirmishers lack high-end burst damage or reliable ways of closing in on high-priority
        targets, they are instead armed with situationally powerful defensive tools to survive in the fray, along with
        extreme sustained damage to cut down even the most durable targets.
      </p>
    </div>
  </div>
{% endblock %}
