{% extends "layout.html" %}
{% block content %}
  <h1>Slayers</h1>
  <h2>Champions: <a href="/champions/caitlyn">Khazix</a>, <a href="/champions/jax">Jax</a></h2>
  <h3>Role:
    <a href="/roles/jg">Jungle</a>
    <a href="/roles/top">Top</a>
  </h3>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="http://habski.me/zlim/resources/images/icons/Assassin.png">
    </div>
    <div class="col-md-6">
      <p>
        Slayers are highly mobile champions specializing in single-target burst damage. What they generally lack in
        resilience, they more than make up for in their potential to cover large distances, quickly kill priority
        targets and retreat just as fast. Epitomizing a high-risk, high-reward playstyle, assassins are natural
        opportunists, and prefer to strike when their targets are alone and vulnerable, rather than engage them in a
        direct assault, favoring damage-oriented item builds to capitalize the most on their offensive capabilities.
        While particularly effective against softer (or squishy) targets, especially mages and marksmen, slayers often
        struggle against the heightened defenses of fighters and tanks. Sub-classes of Slayers are assassins, and
        skirmishers.
      </p>
    </div>
  </div>
{% endblock %}
