{% extends "layout.html" %}
{% block content %}
  <h1>The Black Cleaver</h1>
  <h2>Role: <a href="role/jungle">Jungle</a></h2>
  <h3>Champion: <a href="khazix">Kha'zix</a></h3>
  <h4>Category: Armor Penetration, Cooldown Reduction, Damage, Health, Nonboots Movement, On hit</h4>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/item/3071.png">
    </div>
    <div class="col-md-6">
      <p>Dealing physical damage to enemy champions reduces their Armor</p>
    </div>
  </div>
{% endblock%}
