{% extends "layout.html" %}
{% block content %}
  <h1>Trinity Force</h1>
  <h2>Role: <a href="role/Top.html">Top</a></h2>
  <h3>Champion: <a href="champions/jax.html">Jax</a></h3>
  <h4>Category: Health, Damage, Attack Speed, Mana, Cooldown Reduction, On Hit, Nonboots Movement</h4>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="http://ddragon.leagueoflegends.com/cdn/7.12.1/img/item/3078.png">
    </div>
    <div class="col-md-6">
      <p>Tons of Damage</p>
    </div>
  </div>
{% endblock%}
