{% extends "layout.html" %}
{% block content %}
  <h1>Bottom</h1>
  <h2>Champion: <a href="/champions/caitlyn">Caitlyn</a></h2>
  <h3>Item: <a href="/items/infinity_edge">Infinity Edge</a></h3>
  <h4>Class: Marksman</h4>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="/static/images/bot.png">
    </div>
    <div class="col-md-6">
      <p>
        The bottom role is usually given to a ranged champion that plays the
        lane with another champion.
      </p>
    </div>
  </div>
{% endblock %}
