{% extends "layout.html" %}
{% block content %}
  <h1>Jungle</h1>
  <h2>Champion: <a href="/champions/khazix">Kha'Zix</a></h2>
  <h3>Item: <a href="/items/the_black_cleaver">The Black Cleaver</a></h3>
  <h4>Class: Fighter</h4>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="/static/images/jg.png">
    </div>
    <div class="col-md-6">
      <p>
        The jungle role is usually given to a champion that roams the jungle
        part of Summoner's Rift and helps out all the lanes.
      </p>
    </div>
  </div>
{% endblock %}
