{% extends "layout.html" %}
{% block content %}
  <h1>Top</h1>
  <h2>Champion: <a href="/champions/jax">Jax</a></h2>
  <h3>Item: <a href="/items/trinity_force">Trinity Force</a></h3>
  <h4>Class: <a href="/classes/skirmishers">Skirmisher</a></h4>
  <div class="modal-body row">
    <div class="col-md-6">
      <img src="/static/images/top.png">
    </div>
    <div class="col-md-6">
      <p>
        The top role is usually given to a champion that has good survivability
        in fights.
      </p>
    </div>
  </div>
{% endblock %}
